{% extends "base.html" %}

{% block content %}

{% for record in records %}
    {% if record.is_labeled %}
        <div class="record-wrapper record-labeled">
            <span class='record'>{{record.record_id}}. </span> <a href='/align/align/{{record.record_id}}'>{{record.record}}</a>
        </div>    
    
    {% else %}
        <div class="record-wrapper record-unlabeled">
            <span class='record'>{{record.record_id}}. </span> <a href='/align/align/{{record.record_id}}'>{{record.record}}</a>
        </div>
    {% endif %}

{% endfor %}

<div class="clear"></div>

<div class="grid_6 pagination pagination_prev_page"><span>Previous</span></div>
<div class="grid_6 pagination pagination_next_page"><span>Next</span></div>
<div class="clear"></div>

{% endblock %}