<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/960.css">
    <link rel="stylesheet" type="text/css" href="/static/css/site.css">

    <script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html;">
</head>

<body>
    <div class='container_12'>
        {% block content %}
        {% endblock %}
    </div>
        
    <!-- <div class='footer container_12'>
        <center>Copyright &copy; 2013, Xiaoyao Qian.</center>
        <center>Powered by Django</center>
    </div>
    <div class='clear'></div>   -->         


    <script type="text/javascript" src="/static/js/update.js"></script>
</body>
</html>
